@font-face {
    font-family: "futurak";
    src: url(fonts/futurak);
}

body {
    margin: 0px;
}

/* 
* {
    background-color: black;
} */

.navbar {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 30%;
    padding-top: 15px;
    /* background-color: cadetblue; */
    text-align: center;

}

.logo>img {
    width: 50%;
}

.links {
    /* background-color: brown; */
    width: 65%;
    padding: 20px 0px;
    color: #fff;
    text-align: center;

    /* display: inline-block; */
}

.list>li {
    display: inline-block;
    margin-right: 30px;
}

.btn-1,
.btn-2 {
    color: #fff;
    padding: 15px;
    border-radius: 25px;

}

.btn-1 {
    background-color: black;
    border: 1px solid #fff;

}

.btn-2 {
    border: 1px solid red;
    background-color: red;
}

.btn-2>i {
    width: 30px;
    height: auto;
    border-radius: 15px;
}

/* part 2 */

.slider {
    width: 100%;
}

.slider>img {
    width: 100%;
}

/* part 3 */
.cantainer {
    width: 100%;
    background-color: black;
    color: #fff;
}

.brand {
    text-align: center;
    align-items: center;
}

.brand>h1>span {
    font-family: "futurak";
}

.brand>p {
    color: grey;
}

.card-cantainer {
    background-color: black;
    text-align: center;

}

.card {
    display: inline-block;
}

.card-logo {
    background-color: #fff;
    width: 250px;
    text-align: center;
    padding: 30px 10px;
}

.card-logo>img {
    width: 70%;

}

.btn {
    color: #fff;
    margin-top: 20px;
    border-radius: 25px;
    width: 250px;
    text-align: center;

}

.btn>button {
    padding: 15px 50px;
}

.card-two {
    margin: 0px 40px;
}

.franchise-cantainer {
    width: 100%;
}

.franchise-text {
    width: 45%;
    /* text-align: center; */
    padding-left: 100px;
}

.franchise-card {
    width: 45%;
    text-align: center;
}

.franchise-text,
.franchise-card {
    display: inline-block;
}

.Franchise-btn {
    color: #fff;
    padding: 15px;
    border-radius: 25px;
    background-color: black;
    border: 1px solid #fff;
}

.Franchise-btn>i {
    width: 30px;
    height: auto;
    border-radius: 25px;
}



.express-card-cantainer {
    background-color: black;
    text-align: center;

}

.express-card {
    display: inline-block;
}

.expresscard-logo {
    /* background-color: #fff; */
    width: 300px;
    text-align: center;
    /* padding: 30px 10px; */
}

.expresscard-logo>img {
    width: 100%;

}

.express-card-two {
    /* padding-top: 50px; */
    margin: 0px 40px;
}

.village-cantainer {
    width: 100%;
}

.village-text {
    width: 45%;
    text-align: left !important;
    /* padding-left:  100px; */
}

.village-card {
    width: 45%;
    text-align: center;
}

.village-card>img {
    width: 80%;
    position: relative;
    top: 70px;
    height: 300px;
}

.village-text,
.village-card {
    display: inline-block;
}

.village-btn {
    color: #fff;
    padding: 15px;
    border-radius: 25px;
    background-color:black;
    border: 1px solid ;
}

.village-btn>i {
    width: 30px;
    height: auto;
    border: none;
    border-radius: 25px;
}

.social-card-cantainer {
    background-color: black;
    text-align: center;

}

.social-card {
    display: inline-block;
}

.social-card-logo {
    /* background-color: #fff; */
    width: 220px;
    text-align: center;
    /* padding: 30px 10px; */
}

.social-card-logo>img {
    width: 90%;

}

.footer-cantainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-tex {
    /* display: inline-block; */
    width: 20%;
    text-align: left;
    margin-left: 5%;
}

/* 
.footer-icons{
    display: flex;
    justify-content: space-evenly;
} */

.facebook,
.instagram,
.twitter {
    background-color: red;
    width: 10%;
    height: 20px;
    border-radius: 25%;
    display: inline-block;

}

.instagram {
    margin: 0px 5px;
}

.twitter {
    height: 25px;
    text-align: center;
}

.instagram,
.facebook,
.twitter>i {
    padding-top: 5px;
    text-align: center;
}

.f-2 {
    width: 100%;
}

.right-side,
.left-side {
    /* background-color: brown; */
    width: 45%;
    display: inline-block;
}

.right-side {
    text-align: left;
}

.left-side {
    text-align: right;
}